In [2]:
import pandas as pd
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
from surprise import SVDpp
from surprise import accuracy
from surprise.model_selection import train_test_split
from datetime import datetime

In [3]:
reader = Reader(line_format='user item rating timestamp', sep='\t')

In [4]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('u.data', sep='\t', names=r_cols, encoding='latin-1')

m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url','unknown', 'Action', 'Adventure',\
          'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy','Film-Noir', 'Horror',\
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('u.item', sep='|', names=m_cols, encoding='latin-1')

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('u.user', sep='|', names=u_cols, encoding='latin-1', parse_dates=True)

In [5]:
ratings['unix_timestamp'] = ratings['unix_timestamp'].apply(datetime.fromtimestamp)
ratings.columns = ['user_id', 'movie_id', 'rating', 'time']
ratings.head(10)

   user_id  movie_id  rating                time
0      196       242       3 1997-12-04 18:55:49
1      186       302       3 1998-04-04 22:22:22
2       22       377       1 1997-11-07 10:18:36
3      244        51       2 1997-11-27 08:02:03
4      166       346       1 1998-02-02 08:33:16
5      298       474       4 1998-01-07 17:20:06
6      115       265       2 1997-12-03 20:51:28
7      253       465       5 1998-04-03 21:34:27
8      305       451       3 1998-02-01 12:20:17
9        6        86       3 1998-01-01 00:16:53

In [6]:

reader = Reader()
data = Dataset.load_from_df(ratings[['user_id', 'movie_id', 'rating']], reader)

In [7]:
svdpp = SVDpp()

In [14]:
param_grid = {'lr_all': [0.005], 'reg_all': [0.005]}
gs_svdpp = GridSearchCV(SVDpp, param_grid, measures=['rmse', 'mae'], cv=5)

In [15]:
gs_svdpp.fit(data)

In [16]:
svdpp = gs_svdpp.best_estimator['rmse']
print(gs_svdpp.best_score['rmse'])
print(gs_svdpp.best_params['rmse'])

0.9159915313887096
{'lr_all': 0.005, 'reg_all': 0.005}